{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

     <!-- fontawesome settings -->
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
   />
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>code with prince</title>
    {% endif %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inventorylist' %}">IMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="{% url 'inventorylist' %}">Home</a>
              {% if request.user.is_authenticated %}
                <a class="nav-link" aria-current="page" href="{% url 'inventorylist' %}">Inventory</a>
                <a class="nav-link" aria-current="page" href="{% url 'product_add' %}">Add Inventory</a>
                <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}"><i class="fas fa-chart-line"> Dashboard</i></a>
                <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}"><i class="fas fa-users-cog"> Admin</i></a>
                <a class="nav-link pull-right" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt">Logout</i></a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>

    <main>
        <div class="container-fluid">
         
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12 col-xm-12">
              {% if messages %} {% for message in messages %}
              <div class="alert alert-{{ message.tags }} mt-4">
                {{ message }}
              </div>
              {% endfor %} {% endif %} 
              {% block content %} {% endblock %}
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>